/*-----Global-----*/
@font-face {
   font-family: Bebas; 
   src: url(images/BEBAS.ttf);
} 
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 0;
    vertical-align: baseline; 
    
}
html {
    font-family: sans-serif;
}
body {
    width: 100%;
    background-image:url(images/Design/BG1.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper {
    width: 90%;
    margin: 15px auto;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
h1 {
    color: white;
    font-size: 48px;
}
p {
    color: white;
    font-size: 16px;
}
h3 {
    color: white;
    font-size: 3vw;
}

/*-----nav-----*/
nav {
    height: 100px;
    line-height: 100px;
}
nav a {
    color: white;
    text-decoration: none;
}
.face {
    max-width: 10%;
}
nav a img {
    vertical-align: middle;
}

nav a:nth-child(2) {
    float: right;
}
nav a:nth-child(3) {
    float: right;
}
nav a:nth-child(4) {
    float: right;
}

/*-----header-----*/
header {
    margin: 100px 0 300px 0;
    text-align: center;
}
header p {
    width: 65%;
    margin: 30px auto 0 auto;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
header h1 {
    color: white;
    font-size: 60px;
    font-family: 'Bebas', serif;
    letter-spacing: 3px;
}
header a {
    color: white;
    font-size: 16px;
    
}

/*-----projects-----*/
.projects {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    
}
.projects img {
    width:100%;
}
.projects a img {
    width: 100%;
}
.projects p {
    color: darkorange;
    font-size: 20px;
    text-align: left;
    margin-left: 1%;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}
/*----overlay----*/
.projects .container1 {
    position: relative;
    width: 98%;
    margin:1% 1% 2% 1%;
}
.projects .container1:hover .overlay {
    opacity: 0.75;
}

.projects .container2 {
    position: relative;
    width: 98%;
    margin:1% 1% 2% 1%;
}
.projects .container2:hover .overlay {
    opacity: 0.75;
}

.projects .container3 {
    position: relative;
    width: 98%;
    margin:1% 1% 2% 1%;
}
.projects .container3:hover .overlay {
    opacity: 0.75;
}

.projects .container4 {
    position: relative;
    width: 98%;
    margin:1% 1% 1% 1%;
}
.projects .container4:hover .overlay {
    opacity: 0.75;
}

.projects .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    overflow: hidden;
}

.projects .text {
    color: white;
    font-size: 1.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    width: 60%;
    font-family: 'Raleway', sans-serif;
}


/*-----graphicdesign-----*/
.graphicdesign {
    text-align: center;
    width: 100%;
}
.graphicdesign a img {
    width: 100%;
}
.graphicdesign p {
    color: darkorange;
    font-size: 20px;
    text-align: left;
    margin-left: 1%;
    font-family: 'Raleway', sans-serif;
}


/*----overlay----*/
.graphicdesign .containergd1 {
    position: relative;
    width: 63.3%;
    float: left;
    margin:1% 1% 1% 1%;
 
}
.graphicdesign .containergd1:hover .overlay {
    opacity: 0.75;
}

.graphicdesign .containergd2 {
    position: relative;
    width: 32.6%;
    float: left;
    margin:1% 1% 1% 1%;
}

.graphicdesign .containergd2:hover .overlay {
    opacity: 0.75;
}

.graphicdesign .containergd3 {
    position: relative;
    width: 36.7%;
    float: left;
    margin:1% 1% 1% 1%;
    
}

.graphicdesign .containergd3:hover .overlay {
    opacity: 0.75;
}


.graphicdesign .containergd4 {
    position: relative;
    width: 59%;
    float: left;
    margin:1% 1% 1% 1%;
}

.graphicdesign .containergd4:hover .overlay {
    opacity: 0.75;
}

.graphicdesign .containergd5 {
    position: relative;
    width: 27.2%;
    float: left;
    margin:1% 1% 1% 1%;
}

.graphicdesign .containergd5:hover .overlay {
    opacity: 0.75;
}

.graphicdesign .containergd6 {
    position: relative;
    width: 40.1%;
    float: left;
    margin:1% 1% 1% 1%;
}

.graphicdesign .containergd6:hover .overlay {
    opacity: 0.75;
}

.graphicdesign .containergd7 {
    position: relative;
    width: 26.6%;
    float: left;
    margin:1% 1% 1% 1%;
}

.graphicdesign .containergd7:hover .overlay {
    opacity: 0.75;
}

.graphicdesign .containergd8 {
    position: relative;
    width: 98%;
    float: left;
    margin:1% 1% 1% 1%;
}

.graphicdesign .containergd8:hover .overlay {
    opacity: 0.75;
}


.graphicdesign .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    overflow: hidden;
}

.graphicdesign .text {
    color: white;
    font-size: 1.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    width: 80%;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

.graphicdesign h3 {
    color: white;
    font-size: 3vw;
}


/*-----performance-----*/
.performance {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}
.performance p {
    color: darkorange;
    font-size: 20px;
    text-align: left;
    margin-left: 1%;
    font-family: 'Raleway', sans-serif;
}
.performance img {
    margin:1%;
}
.pe1 {
    width: 98%;
}
.pe2 {
    width: 32.1%;
}
.pe3 {
    width: 63.9%;
}
.pe4 {
    width: 98%;
}
/*-----footer-----*/
footer {
    text-align: center;
    margin: 45px 0;
}
footer p{
    color: #404348;   
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
.email {
    color: white;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    line-height: 30px
}

/*-----responsive-----*/
@media only screen and (max-width: 768px) {
    header {
        width: 96%;
        margin: 30px auto 100px auto;
        text-align: left;
    }
    header p {
        width: 96%;
        margin: 30px auto 100px auto;
        text-align: left;
    }
    h2 {
        text-align: left;
    }
    footer {
        text-align: left;
        width: 96%;
        margin: 20px auto 50px auto;
    }
    .performance img {
        margin: 1%;
        width: 97%;
    }
    .graphicdesign .containergd1 {
    position: relative;
    width: 97%;
    float: left;
    margin:1%;
    }
    .graphicdesign .containergd2 {
    position: relative;
    width: 97%;
    float: left;
    margin:1%;
    }
    .graphicdesign .containergd3 {
    position: relative;
    width: 97%;
    float: left;
    margin:1%;
    }
    .graphicdesign .containergd4 {
    position: relative;
    width: 97%;
    float: left;
    margin:1%;
    }
    .graphicdesign .containergd5 {
    position: relative;
    width: 97%;
    float: left;
    margin:1%;
    }
    .graphicdesign .containergd6 {
    position: relative;
    width: 97%;
    float: left;
    margin:1%;
    }
    .graphicdesign .containergd7 {
    position: relative;
    width: 97%;
    float: left;
    margin:1%;
    }
    .graphicdesign .containergd8 {
    position: relative;
    width: 97%;
    float: left;
    margin:1%;
    }
}